body{
    background-image: url("sport-51.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: darkslategrey;
    border: solid;
    margin-bottom: 0%;
    color: white;
    padding-left: 5%;
}